BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk0" SITE "109" ;
LOCATE COMP "cdiv0[0]" SITE "65" ;
LOCATE COMP "cdiv0[1]" SITE "67" ;
LOCATE COMP "cdiv0[2]" SITE "75" ;
LOCATE COMP "cdiv0[3]" SITE "73" ;
LOCATE COMP "cdiv0[4]" SITE "76" ;
LOCATE COMP "outtransist0[0]" SITE "133" ;
LOCATE COMP "outtransist0[1]" SITE "132" ;
LOCATE COMP "outtransist0[2]" SITE "139" ;
LOCATE COMP "outtransist0[3]" SITE "28" ;
LOCATE COMP "outtransist0[4]" SITE "27" ;
LOCATE COMP "outtransist0[5]" SITE "138" ;
LOCATE COMP "outro0[0]" SITE "35" ;
LOCATE COMP "outro0[1]" SITE "143" ;
LOCATE COMP "outro0[2]" SITE "32" ;
LOCATE COMP "outro0[3]" SITE "140" ;
LOCATE COMP "outro0[4]" SITE "33" ;
LOCATE COMP "outro0[5]" SITE "141" ;
LOCATE COMP "outro0[6]" SITE "34" ;
LOCATE COMP "outc0[0]" SITE "1" ;
LOCATE COMP "outc0[1]" SITE "3" ;
LOCATE COMP "outc0[2]" SITE "5" ;
LOCATE COMP "outc0[3]" SITE "9" ;
LOCATE COMP "outc0[4]" SITE "2" ;
LOCATE COMP "en0" SITE "56" ;
