BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "So[0]" SITE "117" ;
LOCATE COMP "So[1]" SITE "114" ;
LOCATE COMP "So[2]" SITE "112" ;
LOCATE COMP "So[3]" SITE "110" ;
LOCATE COMP "LED" SITE "109" ;
LOCATE COMP "Ai[0]" SITE "38" ;
LOCATE COMP "Ai[1]" SITE "39" ;
LOCATE COMP "Ai[2]" SITE "42" ;
LOCATE COMP "Ai[3]" SITE "43" ;
LOCATE COMP "Bi[0]" SITE "57" ;
LOCATE COMP "Bi[1]" SITE "58" ;
LOCATE COMP "Bi[2]" SITE "61" ;
LOCATE COMP "Bi[3]" SITE "62" ;
LOCATE COMP "SL" SITE "56" ;
LOCATE COMP "prueba[0]" SITE "1" ;
LOCATE COMP "prueba[1]" SITE "3" ;
LOCATE COMP "prueba[2]" SITE "5" ;
LOCATE COMP "prueba[3]" SITE "9" ;
LOCATE COMP "pruebaB[0]" SITE "11" ;
LOCATE COMP "pruebaB[1]" SITE "13" ;
LOCATE COMP "pruebaB[2]" SITE "19" ;
LOCATE COMP "pruebaB[3]" SITE "21" ;
